<template>
  <v-container class="ma-0 pa-0" grid-list-sm>
    <v-layout wrap>
      <v-flex v-for="blog in blogs" :key="blog.id" xs6>
        <v-card>
          <v-img
          src="https://cdn.vuetifyjs.com/images/cards/cooking.png"
          class="white--text"
          height="150px"
          >
          <v-card-title
          class="fill-height align-end"
          v-text="blog.title"
          />
          </v-img>
          <v-card-actions>
            <v-btn
              color="#6D4C41"
              text
            >
              Delete
            </v-btn>
            <v-btn
              color="#6D4C41"
              text
            >
              Edit
            </v-btn>
            <v-btn
              color="#6D4C41"
              text
            >
              Upload Photo
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "ListBlogs",
  props: ['blogs', 'url']
};
</script>