<template>
  <!-- App.vue -->

  <v-app>
    <v-navigation-drawer app v-model="drawer">
      <v-list>
        <v-list-item v-if="!guest">
          <v-list-item-avatar>
            <v-img src="https://cdn.vuetifyjs.com/images/john.png"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title> Rachmat Hidayat </v-list-item-title>
          </v-list-item-content>
        </v-list-item>

        <div class="pa-2" v-if="guest">
          <v-btn block color="#6D4C41" class="mb-1" to="/login">
            <v-icon left> mdi-lock </v-icon>
            Login
          </v-btn>
          <v-btn block color="#6D4C41" class="mb-1" to="/register">
            <v-icon left> mdi-account </v-icon>
            Register
          </v-btn>
        </div>

        <v-divider></v-divider>

      <div v-if="!guest">
        <v-list-item
          v-for="(item, i) in menus"
          :key="'menu-' + i"
          :to="item.route"
        >
          <v-list-item-icon>
            <v-icon v-text="item.icon"></v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title v-text="item.title"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </div>

      </v-list>
      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="#6D4C41" @click="logout">
            <v-icon left> mdi-lock </v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="#6D4C41" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title>Sanbercode Tugas Akhir VueJS</v-toolbar-title>

      <v-spacer></v-spacer>
    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>
      <!-- Provides the application the proper gutter -->
      <v-slide-y-transition>
        <v-container fluid>
          <router-view></router-view>
        </v-container>
      </v-slide-y-transition>
    </v-main>

    <v-footer app> Sanbercode || Tugas Vue JS || Rachmat Hidayat</v-footer>
  </v-app>
</template>

<script>
import axios from "axios";
import { mapGetters } from "vuex";

export default {
  name: "App",
  components: {},
  computed: {
    ...mapGetters({
      guest: "Auth/guest",
      url: "Auth/url"
    }),
  },
  data: () => ({
    drawer: true,
    menus: [
      { title: "Home", icon: "mdi-home", route: "/" },
      { title: "Blogs", icon: "mdi-note", route: "/blogs" },
    ],
    dialog: false,
    token: localStorage.getItem('token')
  }),
  methods: {
    logout() {
      let token = localStorage.getItem('token')
      const config = {
        headers: { Authorization: `Bearer ${token}` }
      };
      axios.post(`${this.url}/auth/logout`,'a', config)
        .then(() => {
          localStorage.removeItem('token')
          this.$store.commit('Auth/SET_GUEST', true)
          this.$router.push('/')
        }).catch(e => {
        throw e
      })
    },
  },
  created() {
    this.$store.commit('Auth/SET_GUEST', true)
  }
};
</script>

